.desktop-notice {
  position: fixed;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;

  background: #373fb39b;
  color: #fff;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.25);

  display: none; /* hidden by default */
  align-items: center;
  gap: 12px;

  max-width: 90vw;
  font-size: 14px;
}

.desktop-notice button {
  background: #eb4c4c;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.desktop-notice button:hover {
  background: #ff2a2a;
}